{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
    <div class="row">
    
                    <div class="col-sm-4 ">
                        <div class="thumbnail">
                            <img src="{{MEDIA_URL}}{{product.image}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right">€{{product.price}}</h4>
                                <h4>{{product.name}}</h4>
                                <h4>{{product.sku}}</h4>
                                <p>{{product.brand}}</p>
                                <p>{{product.stock}}</p>
                                <p>{{product.description}}</p>
                                
                                <form method="POST" action="#">
                                    <input type="number" name="quantity" value="1"/>
                                    <input class="btn btn-primary" type="submit" value="Add to cart"/>
                                </form>
                                
                            </div>
                        </div>
                    </div>
   
    </div>
    </div>
 {% endblock content %}   